html {
    background-color: #778899;
    /* background-color: #aa8484; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gh {
    position: absolute;
    top: 0;
    left: 0;
}

.heading {
    font-size: 52pt;
}

#turn {
    font-size: 32pt;
}

button {
    font-size: 24pt;
    margin: 0 5px;
}

#game-container {
    position: relative;
}

.grid-container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    /* background-color: #f32121; */
    padding: 10px;
}

.grid-item {
    width: 42px;
}

.game-cell {
    height: 42px;
    border-style: solid;
    border-width: 1px;
    border-color: #3b4044;
}

.snake-segment {
    border-radius: 40px;
    height: 95%;
    width: 95%;
    background-color: #2196F3;
}

.snake-head {
    background-color: #16bd2c;
}

.snake-body {
    background-color: #096800
}

#scores {
    position: absolute;
    top: 5%;
    right: 5%;
}

.fruit {
    background-color: #ff4444;
}

.moveUp {
    animation-name: up;
    animation-duration: 200ms;
    animation-timing-function: linear;
    position: relative;
}

.moveRight {
    animation-name: mRight;
    animation-duration: 200ms;
    animation-timing-function: linear;
    position: relative;
}

.moveDown {
    animation-name: down;
    animation-duration: 200ms;
    animation-timing-function: linear;
    position: relative;
}

.moveLeft {
    animation-name: mLeft;
    animation-duration: 200ms;
    animation-timing-function: linear;
    position: relative;
}

@keyframes up {
    0% {top:42px}
    100% {top:0px}
}

@keyframes mRight {
    0% {right:42px}
    100% {right:0px}
}

@keyframes down {
    0% {bottom:42px}
    100% {bottom:0px}
}

@keyframes mLeft {
    0% {left:42px}
    100% {left:0px}
}